<div class="container">
<div class="row">
	<div class="col-sm-2 col-md-2">
		<img src="/img/profile.jpg"
	   alt="" class="img-rounded img-responsive" />
	</div>
	<div class="col-sm-4 col-md-4">
		<blockquote>
			<p>Stephen C Small</p> <small><cite title="Source Title">Waltham, Massachusetts, USA  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
		</blockquote>
		<p> <i class="glyphicon glyphicon-envelope"></i> stephencsmall@gmail.com<br/>
		<i class="glyphicon glyphicon-globe"></i> stephencsmall.github.io<br/>
		<i class="glyphicon glyphicon-gift"></i> July 4, 1989</p>
	</div>
</div>
</div>
