<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- bower:css -->
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
		<!-- endbower -->
		<style type="text/css">
			body {
				padding-top: 60px;
			}
		</style>
	</head>
	<body>
		{%	include navbar.html %}
		<div class="container">
			<div class="blog-header">
				<h1 class="blog-title">Everything is a File</h1>
				<p class="lead blog-description">He who edits wins.</p>
			</div>

			<div class="row">

				<div class="col-sm-8 blog-main">
					{{ content }}

				</div>
				{% include sidebar.html %}
			</div>
		</div>
		<!-- bower:js -->
		<script src="/bower_components/jquery/dist/jquery.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/bower_components/jQuery-One-Page-Nav/jquery.nav.js"></script>
		<!-- endbower -->
	</body>
</html>
